abschlussbericht.aux
abschlussbericht.bbl
abschlussbericht.bcf
abschlussbericht.blg
abschlussbericht.log
abschlussbericht.out
abschlussbericht.pdf
abschlussbericht.run.xml
abschlussbericht.synctex.gz
abschlussbericht.toc
abschlussbericht.xdy